{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    <div class="container mt-4 text-center">
        <h1 class="mb-4">{{ event.title }}</h1>

        {% if event.img %}
            <div class="mt-3">
                <img src="{{ asset(event.img) }}" alt="Image de l'événement" class="img-fluid" style="max-width: 400px; height: auto; border-radius: 10px;">
            </div>
        {% else %}
            <p>Aucune image disponible.</p>
        {% endif %}


        <p><strong>Date :</strong> {{ event.startsAt|date('d/m/Y H:i') }} - {{ event.endsAt|date('d/m/Y H:i') }}</p>
        <p><strong>Participants max :</strong> {{ event.nbMaxParticipants }}</p>
        <p><strong>Description :</strong> {{ event.description }}</p>


        <div class="mt-4">
            <a href="{{ path('event') }}" class="btn btn-secondary">Retour</a>
            <a href="{{ path('event_update', {'id': event.id}) }}" class="btn btn-warning">Modifier</a>
            <form method="post" action="{{ path('event_delete', {'id': event.id}) }}" class="d-inline">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Supprimer cet événement ?');">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}
