{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
    <div class="container mt-4 text-center">
        <h1 class="mb-4">{{ event.title }}</h1>

        {% if event.img %}
            <div class="mt-3">
                <img src="{{ asset(event.img) }}" alt="{{ event.title }}" class="img-fluid" style="max-width: 400px; height: auto; border-radius: 10px;">
            </div>
        {% else %}
            <img src="{{ asset(event.getDefaultImg()) }}" alt="Image par défaut">
        {% endif %}




        <p><strong>Date :</strong> {{ event.startsAt|date('d/m/Y H:i') }} - {{ event.endsAt|date('d/m/Y H:i') }}</p>
        <p><strong>Date max d'inscription :</strong> {{ event.openUntil|date('d/m/Y H:i') }}</p>
        <p><strong>Participants max :</strong> {{ event.nbMaxParticipants }}</p>
        <p><strong>Description :</strong> {{ event.description }}</p>
        <p><strong>Statut : </strong> {{ event.status.name }}</p>
        <p><strong>Organisateur : </strong> {{ event.organizer.username }}</p>
        <p><strong>Campus : </strong> {{ event.campus.name }}</p>

        <strong>Catégories : </strong>
        <ul>
            {% for category in event.categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>

        <strong>Participants : </strong>
        <table style="border: 2px solid black">
            <thead style="background-color: rgb(228 240 245)">
                <tr>
                    <th style="border: 1px solid black">Nom d'utilisateur</th>
                    <th style="border: 1px solid black">Prénom Nom</th>
                    <th style="border: 1px solid black">Se retirer</th>
                </tr>
            </thead>
            <tbody>
                {% for p in event.participants %}
                    <tr>
                        <td style="border: 1px solid black">{{ p.username }}</td>
                        <td style="border: 1px solid black">{{ p.firstName ~ ' ' ~ p.lastName }}</td>
                        <td style="border: 1px solid black">
                        {% if date() > date(event.startsAt) or date() > date(event.endsAt) or date() > date(event.openUntil) %}
                        {% else %}
                            {% if p.id == app.user.id %}
                                <a href="{{ path('event_remove_participant', {'eventId': event.id, 'userId': p.id}) }}">Se retirer</a>
                            {% elseif app.user.id == event.organizer.id%}
                                <a href="{{ path('event_remove_participant', {'eventId': event.id, 'userId': p.id}) }}">Enlever ce participant</a>
                            {% else %}
                            {% endif %}
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot style="background-color: rgb(228 240 245)">
                <tr>
                    <td></td>
                    <td></td>
                    <td style="border: 1px solid black">
                        {% if date() > date(event.startsAt) or date() > date(event.endsAt)%}
                            Evènement déjà passé (ou commencé)
                        {% elseif date() > date(event.openUntil)%}
                            Inscription terminée
                        {% else %}
                            {% if app.user in event.participants%}
                                Déjà inscrit (<a href="{{ path('event_remove_participant', {'eventId': event.id, 'userId': app.user.id}) }}">Se retirer?</a>)
                            {% else %}
                                {% if not event.openUntil %}
                                    <a href="{{ path('event_add_participant', {'eventId': event.id, 'userId': app.user.id}) }}">S'inscrire</a>
                                {% else %}
                                    {% if date() > date(event.openUntil) %}
                                        Inscription terminée
                                    {% else %}
                                        <a href="{{ path('event_add_participant', {'eventId': event.id, 'userId': app.user.id}) }}">S'inscrire</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            </tfoot>
        </table>

        <strong>Lieu : </strong>
        <ul>
            <li>{{ event.location.name }}</li>
            <li>{{ event.location.roadNumber ~ ' ' ~ event.location.roadName }}</li>
            <li>{{ event.location.zipCode ~ ' ' ~ event.location.townName }}</li>
            <li>{{ '°N, °S : ' ~ event.location.latitude ~ ', ' ~ event.location.longitude }}</li>
            <li>{{ event.location.extraInfo }}</li>
        </ul>


        <div class="mt-4">
            <a href="{{ path('event') }}" class="btn btn-secondary">Retour</a>
            <a href="{{ path('event_update', {'id': event.id}) }}" class="btn btn-warning">Modifier</a>
            <form method="post" action="{{ path('event_delete', {'id': event.id}) }}" class="d-inline">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                <button type="submit" class="btn btn-danger" onclick="return confirm('Supprimer cet événement ?');">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}
