{% extends 'base.html.twig' %}

{% block title %}Modifier l'événement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier l'événement</h1>

        {% if event.img %}
            <div class="mt-3">
                <img src="{{ asset(event.img) }}" alt="{{ event.title }}" class="img-fluid" style="max-width: 400px; height: auto; border-radius: 10px;">
            </div>
        {% else %}
            <img src="{{ asset(event.getDefaultImg()) }}" alt="Image par défaut">
        {% endif %}

        {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
