{% extends 'base.html.twig' %}

{% block title %}Détails de l'évènement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Détails de l'évènement</h1>

        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">{{ event.title }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID :</strong> {{ event.id }}</li>
                    <li class="list-group-item"><strong>Statut :</strong> {{ event.status.name }}</li>
                    <li class="list-group-item">
                        <strong>Organisateur :</strong>
                        <a href="{{ path('admin_details_user', {'id': event.organizer.id}) }}">{{ event.organizer.username }}</a>
                    </li>
                    <li class="list-group-item"><strong>Campus :</strong> {{ event.campus.name }}</li>
                    <li class="list-group-item">
                        <strong>Localisation :</strong>
                        <a href="{{ path('admin_details_location', {'id' : event.location.id}) }}">{{ event.location.name }}</a>
                        </li>
                    <li class="list-group-item"><strong>Titre :</strong> {{ event.title }}</li>
                    <li class="list-group-item"><strong>Description :</strong> {{ event.description }}</li>
                    <li class="list-group-item"><strong>Début :</strong> {{ event.startsAt|date('d/m/Y H:i') }}</li>
                    <li class="list-group-item"><strong>Fin :</strong> {{ event.endsAt|date('d/m/Y H:i') }}</li>
                    <li class="list-group-item"><strong>Nombre de participants :</strong> {{ event.nbMaxParticipants }}</li>
                </ul>

                <h5 class="mt-4">Participants</h5>
                <form method="GET" action="{{ path('admin_details_event', {'id': event.id}) }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rechercher parmi les participants (pseudo, nom de famille, ou email)" name="searchParticipant" value="{{ app.request.get('searchParticipant') }}">
                        <input type="hidden" name="searchUsername" value="{{ app.request.get('searchUsername') }}">
                        <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                    </div>
                </form>

                <div class="table-scrollable" style="max-height: 300px; overflow-y: scroll;"> <!-- Barre de défilement -->
                    <table class="table table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Prénom Nom</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in participants %}
                            <tr>
                                <td>{{ p.username }}</td>
                                <td>{{ p.firstName ~ ' ' ~ p.lastName }}</td>
                                <td>
                                    <a href="{{ path('admin_details_user', {'id': p.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                                    {% if event.status.name not in ['Passé', 'Archivé'] %}
                                        <a href="{{ path('admin_event_remove_participant', {'eventId': event.id, 'userId': p.id}) }}" class="btn btn-danger btn-sm">Retirer</a>
                                    {% else %}
                                        <button class="btn btn-danger btn-sm" disabled>Retirer</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h5 class="mt-4">Ajouter un participant</h5>
                <form method="GET" action="{{ path('admin_details_event', {'id': event.id}) }}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Rechercher parmi les participants à ajouter (pseudo, nom de famille, ou email)" name="searchUsername" value="{{ app.request.get('searchUsername') }}">
                        <input type="hidden" name="searchParticipant" value="{{ app.request.get('searchParticipant') }}">
                        <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                    </div>
                </form>

                <div class="table-scrollable" style="max-height: 300px; overflow-y: scroll;"> <!-- Barre de défilement -->
                    <table class="table table-bordered">
                        <thead class="table-light">
                        <tr>
                            <th>Nom d'utilisateur</th>
                            <th>Prénom Nom</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in users %}
                            <tr>
                                <td>{{ p.username }}</td>
                                <td>{{ p.firstName ~ ' ' ~ p.lastName }}</td>
                                <td>
                                    <a href="{{ path('admin_details_user', {'id': p.id}) }}" class="btn btn-primary btn-sm">Voir</a>
                                    {% if 'ROLE_BAN' not in p.roles %}
                                        {% if event.status.name not in ['Passé', 'Archivé', 'Annulé'] %}
                                            <a href="{{ path('admin_event_add_participant', {'eventId': event.id, 'userId': p.id}) }}" class="btn btn-success btn-sm">Ajouter</a>
                                        {% else %}
                                            <button class="btn btn-success btn-sm" disabled>Ajouter</button>
                                        {% endif %}
                                    {% else %}
                                        <button class="btn btn-success btn-sm" disabled>Ajouter</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="card-footer text-end">
                <a href="{{ path('admin') }}" class="btn btn-secondary">Retour</a>
                <a href="{{ path('admin_edit_event', {'id': event.id}) }}" class="btn btn-warning">Modifier</a>
                <form action="{{ path('admin_delete_event', {'id': event.id}) }}" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet évènement ?');">
                        Supprimer
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
