{% extends 'base.html.twig' %}

{% block title %}Détails de l'évènement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Détails de l'évènement</h1>

        <div class="card shadow">
            <div class="card-header bg-dark text-white">
                <h4 class="mb-0">{{ event.title }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID :</strong> {{ event.id }}</li>
                    <li class="list-group-item"><strong>Statut :</strong> {{ event.status.name }}</li>
                    <li class="list-group-item"><strong>Organisateur :</strong> {{ event.organizer.username }}</li>
                    <li class="list-group-item"><strong>Campus :</strong> {{ event.campus.name }}</li>
                    <li class="list-group-item"><strong>Localisation :</strong> {{ event.location.name }}</li>
                    <li class="list-group-item"><strong>Titre :</strong> {{ event.title }}</li>
                    <li class="list-group-item"><strong>Début :</strong> {{ event.startsAt|date('d/m/Y H:i') }}</li>
                    <li class="list-group-item"><strong>Fin :</strong> {{ event.endsAt|date('d/m/Y H:i') }}</li>
                    <li class="list-group-item"><strong>Nombre de participants :</strong> {{ event.nbMaxParticipants }}</li>
                </ul>
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('admin') }}" class="btn btn-secondary">Retour</a>
                {#
                <a href="{{ path('admin_edit_user', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                #}
                <form action="{{ path('admin_delete_event', {'id': event.id}) }}" method="POST" class="d-inline">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet évènement ?');">
                        Supprimer
                    </button>
                </form>


            </div>
        </div>
    </div>
{% endblock %}
