{% extends 'base.html.twig' %}

{% block title %}Lieux d'évènements{% endblock %}

{% block body %}
    {# Flash messages for geocoding warnings #}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {% if locations is empty %}
        <div class="alert alert-info text-center">
            <p>Aucun lieu n'existe.</p>
        </div>
    {% else %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <strong>Liste des lieux : </strong>
            <table style="border: 2px solid black">
                <thead style="background-color: rgb(228 240 245)">
                <tr>
                    <th style="border: 1px solid black">Nom du lieu</th>
                    <th style="border: 1px solid black">Adresse</th>
                    <th style="border: 1px solid black">Ville</th>
                    <th style="border: 1px solid black">Géoloc (lat, lon)</th>
                    <th style="border: 1px solid black">Détails</th>
                </tr>
                </thead>
                <tbody>
                {% for l in locations %}
                    <tr>
                        <td style="border: 1px solid black">{{ l.name }}</td>
                        <td style="border: 1px solid black">{{ l.roadNumber ~ ' ' ~ l.roadName }}</td>
                        <td style="border: 1px solid black">{{ l.zipCode ~ ' ' ~ l.townName }}</td>
                        <td style="border: 1px solid black">{{ l.latitude ~ ', ' ~ l.longitude }}</td>
                        <td style="border: 1px solid black">{{ l.extraInfo }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot style="background-color: rgb(228 240 245)">
                </tfoot>
            </table>
        </div>
    {% endif %}

    <div class="card shadow">
        <div class="card-body">
            {{ form_start(locForm, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="mb-3">
                {{ form_label(locForm.name, 'Nom du lieu *') }}
                {{ form_widget(locForm.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nom lieu'} }) }}
                {% if locForm.name.vars.errors|length > 0 %}
                    <div class="text-danger">
                        {% for error in locForm.name.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form_label(locForm.roadnumber, 'Numéro de rue') }}
                {{ form_widget(locForm.roadnumber, { 'attr': {'class': 'form-control', 'placeholder': '123'} }) }}
            </div>

            <div class="mb-3">
                {{ form_label(locForm.roadname, 'Nom de la rue') }}
                {{ form_widget(locForm.roadname, { 'attr': {'class': 'form-control', 'placeholder': 'Rue de ...'} }) }}
            </div>

            <div class="mb-3">
                {{ form_label(locForm.zipcode, 'Code postal *') }}
                {{ form_widget(locForm.zipcode, { 'attr': {'class': 'form-control', 'placeholder': '00000'} }) }}
                {% if locForm.zipcode.vars.errors|length > 0 %}
                    <div class="text-danger">
                        {% for error in locForm.zipcode.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form_label(locForm.townname, 'Nom de la ville *') }}
                {{ form_widget(locForm.townname, { 'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}
                {% if locForm.townname.vars.errors|length > 0 %}
                    <div class="text-danger">
                        {% for error in locForm.townname.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                {{ form_label(locForm.extraInfo, 'Détails du lieu') }}
                {{ form_widget(locForm.extraInfo, { 'attr': {'class': 'form-control', 'placeholder': 'Informations supplémentaires sur le lieu (numéro de salle, ...)'} }) }}
            </div>

            <button type="submit" class="btn btn-success">Enregistrer</button>
            {{ form_end(locForm) }}
        </div>
    </div>
{% endblock %}