{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">{{ title }}</h1>

        <div class="card shadow">
            <div class="card-body">
                {{ form_start(locForm, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="mb-3">
                    {{ form_label(locForm.name, 'Nom du lieu *') }}
                    {{ form_widget(locForm.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nom lieu'} }) }}
                    {% if locForm.name.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {% for error in locForm.name.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.roadnumber, 'Numéro de rue') }}
                    {{ form_widget(locForm.roadnumber, { 'attr': {'class': 'form-control', 'placeholder': '123'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.roadname, 'Nom de la rue') }}
                    {{ form_widget(locForm.roadname, { 'attr': {'class': 'form-control', 'placeholder': 'Rue de ...'} }) }}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.zipcode, 'Code postal *') }}
                    {{ form_widget(locForm.zipcode, { 'attr': {'class': 'form-control', 'placeholder': '00000'} }) }}
                    {% if locForm.zipcode.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {% for error in locForm.zipcode.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.townname, 'Nom de la ville *') }}
                    {{ form_widget(locForm.townname, { 'attr': {'class': 'form-control', 'placeholder': 'Ville'} }) }}
                    {% if locForm.townname.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {% for error in locForm.townname.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.latitude, 'Latitude *') }}
                    {{ form_widget(locForm.latitude, { 'attr': {'class': 'form-control', 'placeholder': '45.1234'} }) }}
                    {% if locForm.latitude.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {% for error in locForm.latitude.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.longitude, 'Longitude *') }}
                    {{ form_widget(locForm.longitude, { 'attr': {'class': 'form-control', 'placeholder': '1.1234'} }) }}
                    {% if locForm.longitude.vars.errors|length > 0 %}
                        <div class="text-danger">
                            {% for error in locForm.longitude.vars.errors %}
                                <p>{{ error.message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form_label(locForm.extraInfo, 'Détails du lieu') }}
                    {{ form_widget(locForm.extraInfo, { 'attr': {'class': 'form-control', 'placeholder': 'Informations supplémentaires sur le lieu (numéro de salle, ...)'} }) }}
                </div>

                <button type="submit" class="btn btn-success">Enregistrer</button>
                <a href="{{ path('admin') }}" class="btn btn-secondary">Annuler</a>
                {{ form_end(locForm) }}
            </div>
        </div>
    </div>
{% endblock %}
