{% extends 'base.html.twig' %}

{% block title %}Hello NotifMessageController!{% endblock %}

{% block body %}
    <div class="container mt-4 text-center">
        <h1 class="mb-4">Mes Notifications</h1>

        <strong>Notifications personnelles : </strong>
        <table style="border: 2px solid black">
            <thead style="background-color: rgb(228 240 245)">
                <tr>
                    <th style="border: 1px solid black">Date</th>
                    <th style="border: 1px solid black">Message</th>
                </tr>
            </thead>
            <tbody>
                {% for m in app.user.messages %}
                <tr>
                    <td style="border: 1px solid black; padding-inline: 10px">{{ m.createdAt | date('d-m-Y H:i:s') }}</td>
                    {% if m.isFlagged %}
                        <td style="border: 1px solid black; padding-inline: 10px"><strong>{{ m.message }}</strong></td>
                    {% else %}
                        <td style="border: 1px solid black; padding-inline: 10px">{{ m.message }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot style="background-color: rgb(228 240 245)">
                <tr>
                    <td>Maybe a clear </td>
                    <td>or mark as read/something button here</td>
                </tr>
            </tfoot>
        </table>

        <br>
        <strong>Notifications publiques de rôles: </strong>
        <table style="border: 2px solid black">
            <thead style="background-color: rgb(228 240 245)">
                <tr>
                    <th style="border: 1px solid black">Date</th>
                    <th style="border: 1px solid black">Message</th>
                    <th style="border: 1px solid black">Rôle</th>
                </tr>
            </thead>
            <tbody>
            {% for m in messages %}
                <tr>
                    <td style="border: 1px solid black; padding-inline: 10px">{{ m.createdAt | date('d-m-Y H:i:s') }}</td>
                    {% if m.isFlagged %}
                        <td style="border: 1px solid black; padding-inline: 10px"><strong>{{ m.message }}</strong></td>
                    {% else %}
                        <td style="border: 1px solid black; padding-inline: 10px">{{ m.message }}</td>
                    {% endif %}
                    <td style="border: 1px solid black; padding-inline: 10px">{{ m.roles }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>





    </div>
{% endblock %}
