{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifiez votre profil</h1>
    <div>
        {{ form_start(userForm, {'attr': {'novalidate': 'novalidate', 'class': 'row g-3'}}) }}
        <div class="col-12 mb-3">
            {{ form_label(userForm.campus, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userForm.campus, {'attr': {'class': 'form-select'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(userForm.firstname, 'Prénom *', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userForm.firstname, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(userForm.lastname, 'Nom *', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userForm.lastname, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(userForm.username, 'Pseudo *', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userForm.username, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(userForm.telephone, 'Téléphone *', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userForm.telephone, {'attr': {'class': 'form-control'}}) }}

        </div>
        <div class="col-md-12 mb-3">
            {{ form_label(userForm.img, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(userForm.img, {'attr': {'class': 'form-control'}}) }}

            <button type="submit" class="btn btn-outline-dark">Télécharger</button>
        </div>
        <button type="submit" class="btn btn-outline-dark"
                onclick="return confirm('Etes vous sûr de vouloir modifier votre profil ?');">Enregistrer
        </button>
    </div>
{% endblock %}